.container {
  display: flex;
  width: 84%;
  margin: 0 auto;
}
.card-container {
  transition: all 500ms ease-in-out;
  overflow-x: clip;
  padding: 0.55em 0 0.9em 0;
  white-space: nowrap;
}
.list-title {
  padding-left: 0.125em;
  margin: 0 auto;
  text-align: left;
  color: #ff5722;
}
.list-link {
  display: inline-block;
  text-decoration: none;
  max-width: 320px;
  color: #08074d;
}
