.card-container {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.55em 0 0.9em 0;
  white-space: nowrap;
}
.list-title {
  padding-left: 0.125em;
  margin: 0 auto;
  text-align: left;
  color: #ff5722;
}
.list-link {
  display: inline-block;
  text-decoration: none;
  max-width: 320px;
  color: #08074d;
}
.comic-img {
  margin: 0.125em;
  width: 250px;
}
