.favorite-icon__color {
  filter: invert(48%) sepia(70%) saturate(7500%) hue-rotate(343deg)
    brightness(103%) contrast(112%);
}

.favorite-icon__position {
  position: absolute;
  right: 0;
  top: 0;
}
