.default{
    padding: 0.5em 3.72em;
    font-size: 1.2rem;
    border-radius: 10px;
}
.success{
    background-color: #80cd9c;
    border-top: bisque solid 2px;
    border-left: bisque solid 2px;
    border-bottom:  #FFA348 solid 2px;
    border-right:  #FF8648 solid 2px;
    transition: all 200ms linear;
}
.success:active{
    background-color: #80cd9c;
    border-top: #FF7027 solid 2px;
    border-left:   #FF9227 solid 2px;
    border-bottom:bisque solid 2px;
    border-right:   bisque solid 2px;
}
.failure{
    background-color: #B10D00;
    color: aliceblue;
    border-top: #D54200 solid 2px;
    border-left: #D54200 solid 2px;
    border-bottom:  #B13700 solid 2px;
    border-right:  #B13700 solid 2px;
}
.failure:active{
    border-top: #B13700 solid 2px;
    border-left: #B13700 solid 2px;
    border-bottom:  #D54200 solid 2px;
    border-right:  #D54200 solid 2px;
}