.chevron_right {
  width: 160px;
  position: absolute;
  right: 0;
  z-index: 10;
  height: 470px;
  background-color: #282c34;
}

.chevron_left {
  width: 160px;
  position: absolute;
  left: 0px;
  z-index: 10;
  height: 470px;
  background-color: #282c34;
}
